examples/Turn on vintage with brightness.json
[
    {
        "id": "38e6918f6ee1e74c",
        "type": "shelly mqtt device",
        "z": "8e33ae33.8d86a",
        "name": "",
        "shellyDevice": "b53fd05ff9dc0426",
        "action": "on",
        "position": "0",
        "brightness": "17",
        "optime": "",
        "emitStop": false,
        "event": "",
        "x": 330,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "b10de56d6c9bee2c",
        "type": "inject",
        "z": "8e33ae33.8d86a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 380,
        "wires": [
            [
                "38e6918f6ee1e74c"
            ]
        ]
    },
    {
        "id": "cb4d66ce33fdac09",
        "type": "comment",
        "z": "8e33ae33.8d86a",
        "name": "Turn on Vintage with brightness",
        "info": "",
        "x": 170,
        "y": 340,
        "wires": []
    },
    {
        "id": "b53fd05ff9dc0426",
        "type": "shelly-mqtt-config",
        "name": "Vintage",
        "mqttBroker": "7b7f926b.c5ec9c",
        "deviceName": "vintage-abcd",
        "deviceType": "vintage",
        "channel": "0",
        "haDiscovery": false
    },
    {
        "id": "7b7f926b.c5ec9c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1888",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]